USE [CHARACTER_01_DBF]
GO
/****** Object:  StoredProcedure [dbo].[TAG_STR]    Script Date: 03.12.2021 10:29:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER    PROC [dbo].[TAG_STR]
	@iGu        		  				CHAR(2) 			= 'S1', 
	@im_idPlayer   				CHAR(7) 			= '0000001',
	@iserverindex  				CHAR(2) 			= '01',
	@if_idPlayer 					CHAR(7)				=	'',
	@im_Message 				VARCHAR(255)	=	''
AS
set nocount on

IF 	@iGu = 'A1'
	BEGIN
	DECLARE @count int
	SELECT @count = COUNT(*) 
      FROM TAG_TBL
	WHERE  m_idPlayer = @im_idPlayer
	     AND serverindex = @iserverindex
		 AND State = 'T'

	IF @count < 50 
	 BEGIN
		INSERT TAG_TBL
			(m_idPlayer,serverindex,f_idPlayer,m_Message,State,CreateTime)
		VALUES
			(@im_idPlayer,@iserverindex,@if_idPlayer,@im_Message,'T',GETDATE())	
		SELECT fError='0'
		RETURN
	 END
	ELSE
	 BEGIN
		SELECT fError='1'
		RETURN
	 END
	END
/*
	
	 ?? ????
	 ex ) 
	 TAG_STR 'A1',@im_idPlayer,@iserverindex,@if_idPlayer,@im_Message
	 TAG_STR 'A1','000001','01','000002','??????'
*/
ELSE
IF @iGu = 'S1'
	BEGIN
		SELECT a.f_idPlayer, b.m_szName, a.m_Message,CreateTime=CONVERT(CHAR(19),a.CreateTime,120)
		   FROM TAG_TBL a, CHARACTER_TBL b
		WHERE a.m_idPlayer = @im_idPlayer
			AND a.m_idPlayer = b.m_idPlayer
		    AND a.serverindex = @iserverindex
		   AND  a.serverindex =  b.serverindex
			AND a.State = 'T'
		ORDER BY a.CreateTime
		
		UPDATE TAG_TBL
		      SET State = 'D'
		 WHERE m_idPlayer = @im_idPlayer
			  AND serverindex = @iserverindex

		SELECT fError='0'
		RETURN
	END
/*
	
	 ?? ????
	 ex ) 
	 TAG_STR 'S1',@im_idPlayer,@iserverindex
	 TAG_STR 'S1','000001','01'


*/


ELSE
IF	@iGu = 'D1'
	BEGIN
		DELETE TAG_TBL
		WHERE m_idPlayer NOT IN
		   (SELECT m_idPlayer 
			FROM CHARACTER_TBL)

		DELETE TAG_TBL
		WHERE f_idPlayer NOT IN
		   (SELECT m_idPlayer 
			FROM CHARACTER_TBL)

		DELETE TAG_TBL
		WHERE State = 'D'
			AND CreateTime < DATEADD(d,-7,GETDATE())
		RETURN
	END

/*
	
	 ?? ????( ??? ?????, ????? ???? )
	 ex ) 
	 TAG_STR 'D1'
	 TAG_STR 'D1'

*/
set nocount off
